jobs:
  integration-test:
    runs-on: ubuntu-latest
    
    steps:
      # 1. Checkout Code (Giữ nguyên)
      - uses: actions/checkout@v4

      # 2. Setup Node.js (MỚI: Cần cho việc build Frontend)
      - name: Set up Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          
      # 3. Build Frontend (MỚI: Build ra thư mục dist)
      - name: Build Frontend (Vite/React)
        run: npm install && npm run build
        working-directory: ./fe # Chạy lệnh này trong thư mục code UI

  
      # 8. Stop services (Giữ nguyên)
      - name: Stop services
        if: always()
        run: docker compose down